<div class="page-inner">
  <div class="page-header">
    <h3 class="fw-bold mb-3">News Letters</h3>
    <ul class="breadcrumbs mb-3">
      <li class="nav-home">
        <a routerLink="/home">
          <i class="icon-home"></i>
        </a>
      </li>

      <li class="separator">
        <i class="icon-arrow-right"></i>
      </li>
      <li class="nav-item">
        <a>Email</a>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table class="table table-head-bg-success mt-3 text-center">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">E-mail</th>
                <th scope="col ">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let subscriber of subscribers
                    | paginate
                      : {
                          itemsPerPage: itemsPerPage,
                          currentPage: currentPage
                        };
                  let i = index
                "
              >
                <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                <td>
                  {{ subscriber.email }}
                  <button
                    (click)="copyToClipboard(subscriber.email)"
                    class="btn btn-link"
                  >
                    <span class="btn-label">
                      <i class="fa fa-link"></i>
                    </span>
                    Copié
                  </button>
                </td>
                <td>
                  <div class="card-action">
                    <a
                      class="btn btn-success"
                      [href]="getMailToUrl(subscriber.email)"
                    >
                      Envoyer Email
                    </a>
                    <button
                      (click)="onDelete(subscriber.id)"
                      class="btn btn-danger"
                    >
                      Suprimer
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="card-action d-flex justify-content-end">
            <pagination-controls
              (pageChange)="currentPage = $event"
            ></pagination-controls>
            <!-- Contrôles de pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
