<div class="page-inner">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card-header">
        <div class="card-title">Ajouter Commentaires</div>
      </div>
      <div class="card-action mb-3 p-4 text-end">
        <button routerLink="/home/temoignages" class="btn btn-danger">
          Retour
        </button>
      </div>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="shadow">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input
            type="text"
            class="form-control"
            name="nom"
            formControlName="nom"
            id="nom"
            placeholder="Entrer votre nom"
          />
        </div>

        <div class="form-group">
          <label for="nom">Profession</label>
          <input
            type="text"
            class="form-control"
            name="profesion"
            formControlName="profesion"
            id="nom"
            placeholder="Entrer votre nom"
          />
        </div>

        <div class="form-group">
          <label for="nom">Lien Image</label>
          <input
            type="text"
            class="form-control"
            name="imgLink"
            formControlName="imgLink"
            id="nom"
            placeholder="Entrer votre nom"
          />
        </div>

        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            class="form-control"
            name="email"
            formControlName="email"
            id="email"
            placeholder="Entrer votre email "
          />
        </div>

        <div class="form-group">
          <label for="comment">Commentaire <i class="fas fa-home"></i> </label>
          <angular-editor
            id="comment"
            class="form-control"
            rows="5"
            name="commentaire"
            formControlName="commentaire"
            [placeholder]="'Enter text here...'"
          >
          </angular-editor>
        </div>

        <div class="card-action p-4 text-end">
          <button
            type="submit"
            [disabled]="editForm.invalid"
            class="btn btn-success me-3"
          >
            Crer
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
