<div class="page-inner">
  <div class="page-header">
    <h3 class="fw-bold mb-3">Livraison Service</h3>
    <ul class="breadcrumbs mb-3">
      <li class="nav-home">
        <a routerLink="/home">
          <i class="icon-home"></i>
        </a>
      </li>

      <li class="separator">
        <i class="icon-arrow-right"></i>
      </li>
      <li class="nav-item">
        <a>Livraison</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Formulaire Livraison Service</h4>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col">
              <form #bannerForm="ngForm" (ngSubmit)="onSubmit(bannerForm)">
                <div class="form-group">
                  <label for="nom">Titre</label>
                  <input
                    type="text"
                    class="form-control"
                    name="title"
                    [(ngModel)]="shippingTitle"
                    id="nom"
                    required
                    placeholder="Entrer le titre du service"
                  />
                </div>
                <div class="form-group">
                  <label for="basic-url"> Lien Icon </label>

                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3"
                      >https://example.com/users/</span
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="basic-url"
                      required
                      name="imgLink"
                      [(ngModel)]="shippingIconLink"
                      aria-describedby="basic-addon3"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="comment">Description du service</label>
                  <angular-editor
                    class="form-control"
                    name="description"
                    [(ngModel)]="shippingDescription"
                    id="comment"
                    rows="5"
                    required
                    placeholder="Entrer la réponse ici..."
                  >
                  </angular-editor>
                </div>

                <div class="card-action text-end">
                  <button
                    [disabled]="bannerForm.invalid"
                    type="submit"
                    class="btn btn-success"
                  >
                    Modifier
                  </button>
                  <button routerLink="/home" class="btn btn-danger">
                    Retour
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <table class="table table-head-bg-success mt-3 text-center">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Images</th>
                <th scope="col">Titre</th>

                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let shipping of shippings | async; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                  <img
                    [src]="shipping.imgLink"
                    class="img-fluid carousel-img"
                    alt="Image responsive"
                  />
                </td>
                <td>{{ shipping.title }}</td>
                <td>
                  <div class="card-action text-end">
                    <button
                      (click)="
                        onEdit(
                          shipping.title,
                          shipping.imgLink,

                          shipping.description,
                          shipping.id
                        )
                      "
                      class="btn btn-success"
                    >
                      Modifier
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
