<div class="page-inner">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Avis et Commentaires</div>
        </div>

        <div class="card-body">
          <div class="card-sub">Les témoignages</div>
          <div class="card-action text-end">
            <button routerLink="/home/temoignage_form" class="btn btn-success">
              Ajouter
            </button>
          </div>

          <table class="table table-head-bg-success mt-3 text-center">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>

                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let testimony of testymonies
                    | paginate
                      : {
                          itemsPerPage: itemsPerPage,
                          currentPage: currentPage
                        };
                  let i = index
                "
              >
                <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                <td>
                  <img
                    [src]="testimony.imgLink"
                    class="img-fluid w-50 h-50 carousel-img"
                    alt="Image responsive"
                  />
                </td>

                <td>
                  <div class="card-action text-end">
                    <button
                      *ngIf="!testimony.active"
                      class="btn btn-success"
                      (click)="activeCours(testimony.id, true)"
                    >
                      Activé
                    </button>
                    <button
                      *ngIf="testimony.active"
                      class="btn btn-danger"
                      (click)="activeCours(testimony.id, false)"
                    >
                      Desactivé
                    </button>
                  </div>
                </td>
                <td>
                  <div class="card-action text-end">
                    <button
                      routerLink="/home/temoignages_detail"
                      class="btn btn-warning"
                      [queryParams]="{
                        id: testimony.id,
                        name: testimony.name,
                        email: testimony.email,
                        active: testimony.active,
                        comment: testimony.comment,
                        createdAt: testimony.createdAt.toMillis() | date
                      }"
                    >
                      Détail
                    </button>
                    <button
                      (click)="ondelete(testimony.id)"
                      class="btn btn-danger"
                    >
                      Supprimer
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-action d-flex justify-content-end">
          <pagination-controls
            (pageChange)="currentPage = $event"
          ></pagination-controls>
          <!-- Contrôles de pagination -->
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
